@charset "UTF-8";
body{
  background-color: rgb(241, 235, 222);
}

/*メイン*/
main{
  text-align: center;
  margin-top: 0;
}
h2{
  font-size: 25px;
  color:  #293B4E;
  font-family: Impact;
  margin: 6vh auto;
}
.message{
  line-height: 2em;
  
}
.Mypage-Btn{
  background: rgb(196, 199, 204);
  color: #0f0f0f;
  border-radius: 6px; /*角が丸くなる*/
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.1em; /*文字間隔*/
  font-weight: bold; /*文字太く*/
  font-size: 20px;
  height: 50px;
  width: 30vh;
  display: block;
}
